
.footer-section{
 width:100%;
 position:relative;
 padding:2rem 0;
 display: flex;
 align-items:center;
 justify-content:center;
 margin:auto;
}

.vedioDiv{
    position:absolute;
    height:100%;
    width:100%;
}
.vedioDiv video{
    height:100%;
    object-fit:cover;
}
.vedioDiv::after{
    content:"";
    position:absolute;
    background:rgba(10,84,107,0.307);
    top:0;
    bottom:0;
    right:0;
    left:0;
    mix-blend-mode: multiply;
}

.footer-section .secContent{
    width:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin:auto;
    row-gap:2rem;
    z-index:100;
}

.footer-section .secContent .contactDiv{
       justify-content:space-between;
       flex-direction:column;
       gap:1rem;
}
.text small{
    font-size:13px;
    font-weight:400;
    color:#fff;
}
.text h2{
    font-size:1.8rem;
    font-weight:700;
    color:#fff;
}

.inputDiv{
    width:100%;
    gap:1rem;
    flex-direction:column;
}

.inputDiv input{
    width:100%;
    padding:.5rem .6rem;
    outline:none;
    border:1px solid #fff;
    border-radius:3rem;
    background:transparent;
    color:#fff;
}
.inputDiv input::placeholder{
    color:#fff;
}

.inputDiv .btn{
    width:100%;
    justify-content:center;
    gap:5px;
    color:#fff;
    font-size:20px;
    font-weight:500;
}

.inputDiv .btn .icons{
    font-size:20px;
}

.footerCard{
    position:relative;
    padding:1rem 1rem 4rem;
    gap:2rem;
    border-radius:1rem;
    background:#fff;
    width:100%;
    justify-content:center;
    flex-direction:column;
    align-items:flex-start;
    overflow:hidden; 
}
.footerCard .footerInfo{
    flex-basis:50%;
    align-items:flex-start;
    justify-content:center;
    flex-direction: column;
    row-gap:.5rem;
}
.footerCard .footerInfo .logoDiv .logo{
      font-weight:600;
      font-size:20px;
}

.footerCard .footerInfo .footerParagraph{
    font-size:13px;
    font-weight:500;
}

.footerCard .footerInfo .footerSocials{
    column-gap:.5rem;
}
.footerCard .footerInfo .footerSocials .icons{
       font-size:20px;
       color:rgb(22, 142, 142);
       cursor: pointer;
}
.footerCard .footerInfo .footerSocials .icons:hover{
    color:gray;
}

.footerLinks{
    flex-basis:50%;
    width:100%;
    gap:1rem;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
}
.linkGroups .groupTitle{
    display:flex;
    font-weight:700;
    margin-bottom: .5rem;
}
.footerList{
    font-size:15px;
    font-weight:400;
    transition:.3s ease-in-out;
}
.footerList:hover{
    color:rgb(24, 112, 134);
    cursor:pointer;
}
.footerList .icons{
    font-size:20px;
}
.footerList .icons:hover{
    color:rgb(24, 112, 134);
}
.footerDiv{
    width:100%;
    flex-direction:column;
    justify-content:center;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background:rgb(49, 112, 128);
    color:#fff;
    padding:10px 30px;
    margin-top:20px;
}
.footerDiv small{
    font-weight:700;
}



@media(min-width:768px){
    .footerCard{
        padding:100px;
    }
    .footerLinks{
        padding:30px 0;
    }
}

